<% include partials/header %>
        <div class="container">
            <div class="row">
                <div class="col">
                    <% include partials/nav %>
                </div>
            </div>
            <div class="row">
                <div class="col">
                <% if(hops){ %>
                    <% for(hop of hops) { %>
                    <h3><%= hop.name %></h3>
                    <p><span class='strong'>Type</span>: <%= hop.type %> - <span class='strong'>Alpha</span> (bitterness): <%= hop.alpha.low %>-<%= hop.alpha.high %>% - <span class='strong'>Country of Origin</span>: <%= hop.origin %></p>
                    <p><span class='strong'>Description:</span> <%= hop.description %> <a href="/hops/<%= hop._id%>">View profile.</a></p>
                    <hr />
                    <% } %>
                <% } %>
                    <p><a href='/hops/new' class='btn btn-primary btn-sm'>Add a New Hop Variety</a></p>
                </div>
            </div>
        </div>
<% include partials/footer %>