<% include partials/header %>
        <div class="container">
            <div class="row">
                <div class="col">
                    <% include partials/nav %>
                </div>
            </div>
            <div class="row">
                <div class="col">
                <% if(typeof hop != 'undefined'){ %>
                    <h1><%= title %></h1>
                    <h3><%= hop.name %></h3>
                    <p><span class='strong'>Type</span>: <%= hop.type %> - <span class='strong'>Alpha</span> (bitterness): <%= hop.alpha.low %>-<%= hop.alpha.high %>% - <span class='strong'>Country of Origin</span>: <%= hop.origin %></p>
                    <p><span class='strong'>Description</span>: <%= hop.description %> <a class="btn btn-link" href="/hops/edit/<%= hop._id%>">Edit</a></p>
                    <hr />
                </div>
            </div>
                <%  } else { %>
            <div class="row">
                <div class="col"></div>
                    <p class="error">There was an error.  No form data submitted.</p>
                <% } %>
                    <a href="/" class="btn btn-primary btn-sm" title="Go Back">Go Back</a>
                </div>
            </div>
        </div>
<% include partials/footer %>